.header {
    &__top {
        height: 53px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        list-style: none;
        & li {
            display: inline-block;
            &:hover {
                & a {
                    color: #3456af;
                }
            }
            & + li {
                padding-left: 24px;
            }
            &:first-child {
                position: relative;
                padding-left: 20px;
                & a {
                    color: #3456af;
                }
                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../images/header/arrow.svg);
                    width: 17px;
                    height: 16px;
                    left: 0;
                    top: 0;
                }
                & + li {
                    margin-left: 21.5px;
                }
            }
        }
        & a {
            text-decoration: none;
            font-style: normal;
            font-weight: 550;
            font-size: 16px;
            line-height: 16px;
            color: #8d989d;
        }
    }
    &__right {
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        line-height: 16px;
        color: #8d989d;
        margin-bottom: 4px;
        & span {
            color: #000;
        }
    }
    &__middle {
        height: 96px;
        display: flex;
        align-items: center;
        & > *:first-child + *:nth-child(2) {
            margin-left: 30px;
        }
        & > :nth-child(2) + *:nth-child(3) {
            margin-left: 80px;
        }
        & > :nth-child(3) + *:last-child {
            margin-left: 16px;
        }
        & form {
            position: relative;
            & select {
                padding: 17px 61px 16px 24px;
                border-radius: 8px 0 0 8px;
                & + input {
                    margin-left: -5px;
                }
            }
            & input {
                height: 54px;
                width: 548px;
                left: 488px;
                top: 75px;
                padding: 16px;
            }
            & button {
                position: absolute;
                background-color: transparent;
                border: none;
                margin: auto 0;
                right: 23px;
                top: 0;
                bottom: 0;
            }
        }
        & .korzinka {
            background-color: #f2f2f2;
            padding: 12px 14.62px 12px 14px;
            border-radius: 8px;
        }
        & > *:last-child {
            background-color: #f2f2f2;
            border-radius: 8px;
            padding: 14px 61px 12px 44px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                background-image: url(../images/header/man.svg);
                width: 14px;
                height: 17px;
                left: 17px;
            }
            &::after {
                position: absolute;
                content: "";
                background-image: url(../images/header/flag.svg);
                width: 14px;
                height: 18px;
                right: 17px;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
        height: 60px;
        position: relative;
        margin-bottom: 24px;
        & > * {
            height: 100%;
            letter-spacing: 0px;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 550;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: center;
            padding: 22px 0 22px;
            &:not(:last-child):hover{
                background-color: #3456af;
                color: #fff;
            }
            &:first-child {
                padding: 19px 49px 18px 107px;
                position: relative;
                background-color: #3456af;
                color: #fff;
                font-size: 18px;
                font-weight: 550;
                line-height: 23px;
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url(../images/header/list.svg);
                    width: 18px;
                    height: 12px;
                    left: 74px;
                    top: 23px;
                }
            }
            &:nth-child(2) {
                padding-left: 50px;
                padding-right: 50px;
            }
            &:nth-child(3) {
                padding-left: 50px;
                padding-right: 50px;
            }
            &:nth-child(4) {
                padding-left: 30px;
                padding-right: 30px;
            }
            &:nth-child(5) {
                padding-left: 50px;
                padding-right: 50px;
            }
            &:nth-last-child(2) {
                padding: 15px 86px 25px 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 550;
                line-height: 16px;
                letter-spacing: 0px;
                text-align: center;
                border: none;
            }
            &:last-child {
                position: absolute;
                right: 72px;
                bottom: -15px;
                font-size: 12px;
                font-style: normal;
                font-weight: 550;
                line-height: 12px;
                letter-spacing: 0px;
                text-align: center;
                color: #8d989d;
            }
        }
    }
}
