.img {
    margin-bottom: 62px;
    &__inner {
        min-height: 388px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__title {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
        height: 156px;
        width: 780px;
        position: absolute;
        top: 60px;
        left: 89px;
    }
    & p{
        height: 48px;
        width: 716px;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 24px;
        letter-spacing: 0px;
        color: #fff;    
        position: absolute;
        left: 89px;
        bottom: 108px;            
    }
}
