.spares {
    margin-bottom: 60px;
    &__inner {
        & * {
            font-size: 16px;
            font-style: normal;
            font-weight: 550;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            color: #191919;
            &:nth-child(5) {
                margin-bottom: 0;
            }
        }
    }
    &__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0px;
        margin-bottom: 32px;
    }
    &__list {
        padding: 0 15px;
        margin: 0;
    }
}
